.button.button-stable {
  border-color: #b2b2b2;
}
.button.button-stable.active, .button.button-stable.activated {
  border-color: #a2a2a2;
}
.modal .bar-footer {
  padding: 0;
}
.modal .bar-footer a {
  display: block;
  max-width: none;
}
.item-input .button-input {
  padding: 0;
  width: 100%;
  text-align: left;
}
